.gallery{
    height: 100%;
    overflow: hidden;
    position: relative;

}

.galleryWrapper{
    position: relative;
    top: -12.5vh;
    height: 1200px;
    display: flex;
    gap: 1vw;

}

.column{
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;  
}

.column1 {
    top: 5%;
}

.column2 {
    top: -155%;
}

.imageContainer{
   
    height: 340px;

    position: relative;

}

@media screen and (max-width: 1024px) {
    .column{
        min-width: 200px;
    }
    .imageContainer{
        min-height: 250px;
    }
}
