@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* font-family: "Poppins", sans-serif;
    font-display: swap; */
    overflow-x: hidden;
}

.spin {
    animation: animate 1s infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}